body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 75%;
  height: 70%;
  display: flex;
  background: #1d1d1d;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

/* LEFT — SIGNUP */
.signup-box {
  width: 45%;
  padding: 50px;
  background: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-box h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.signup-box button {
  padding: 12px;
  background: #2e8bff;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
}

.signup-box button:hover { background:#1165d3; }

.signup-box .login-link {
  margin-top: 10px;
  font-size: 14px;
}

/* RIGHT — WELCOME */
.welcome-box {
  width: 55%;
  background: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.welcome-box h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.welcome-box p {
  font-size: 18px;
  margin-bottom: 25px;
}

.welcome-box img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}
