body {
  background: #0d0d0d;
  font-family: Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:#fff;
}

.box {
  background:#1a1a1a;
  padding:25px;
  width:260px;
  border-radius:8px;
  text-align:center;
}

input {
  width:100%;
  padding:8px;
  margin:6px 0;
}
button {
  width:100%;
  padding:10px;
  background:#2ecc71;
  border:none;
  cursor:pointer;
  font-weight:bold;
}
button:hover { background:#27ae60; }
